.App {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.App-header {
    width: 5vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 8em 5%;
    text-align: center;
    border-right: 1px solid #ccc;
}

.header-element {
    margin-bottom: 3em;
    cursor: pointer;
}

.App-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2em 3em;
}

.Chapter {
    width: 100%;
    /*min-height: 100vh;*/
    max-height: fit-content;
    margin-bottom: 5vh;
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
}

.Chapter-image {
    flex: 2;
    height: 100%;
}

.Chapter-body {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.Chapter-body-title-group {
    width: 90%;
    align-self: center;
    display: flex;
    justify-content: space-between;
}

.Chapter-body .first-layer {
    width: 90%;
    align-self: center;
    font-size: 1.3em;
    line-height: 1.6em;
    letter-spacing: 0.03em;
    list-style: decimal;
    margin-top: 0.5em;
}

.Chapter-body .first-layer > li {
    margin-bottom: 1em;
}

.Chapter-body .second-layer {
    font-size: 0.8em;
    line-height: 1em;
    letter-spacing: 0.03em;
    list-style: lower-alpha;
    margin-top: 0.5em;
}

.Chapter-body .second-layer > li {
    margin-bottom: 1em;
}


.Text-red {
    color: crimson;
}

.Text-bold {
    font-weight: bold;
}

.Text-underline {
    text-decoration: underline;
}

